In [91]:
import tensorflow as tf
import pandas as pd
from tensorflow.keras.models import load_model
import pickle
import numpy as np

In [92]:
# Load the model , scaler pickle file , one hot encoder pickle file and label encoder pickle file
model = load_model('model.h5')

# Load the scaler pickle file
with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)
# Load the one hot encoder pickle file
with open('onehotencoder_geo.pkl', 'rb') as file:
    onehotencoder = pickle.load(file)
# Load the label encoder pickle file
with open('labelencoder_gender.pkl', 'rb') as file:
    labelencoder = pickle.load(file)

In [93]:
# test data
test_data = {'CreditScore': 600,
             'Gender': 'Female',
             'Age': 40,
             'Tenure': 3,
             'Balance': 60000,
             'NumOfProducts': 2,
             'HasCrCard': 1,
             'IsActiveMember': 1,
             'EstimatedSalary':50000,
             'Geography': 'France'}

In [94]:
test_data = pd.DataFrame(test_data, index=[0])

In [95]:
test_data.head()

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Geography
0          600  Female   40  ...               1            50000     France

[1 rows x 10 columns]

In [96]:
# encode Gender colomn
test_data['Gender'] = labelencoder.transform(test_data['Gender'])

In [97]:
test_data.head()

   CreditScore  Gender  Age  ...  IsActiveMember  EstimatedSalary  Geography
0          600       0   40  ...               1            50000     France

[1 rows x 10 columns]

In [98]:
geography_encoded=onehotencoder.transform(test_data['Geography'].values.reshape(-1,1))
geo_encoded_df = pd.DataFrame(geography_encoded.toarray(), columns=onehotencoder.get_feature_names_out(['Geography']))

In [99]:
test_data = pd.concat([test_data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [100]:
test_data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       0  ...                0.0              0.0

[1 rows x 12 columns]

In [101]:
# Scale the data
test_data = scaler.transform(test_data)

In [103]:
test_data

array([[-0.53598516, -1.09499335,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [104]:
# Predict the test data
prediction = model.predict(test_data)
prediction

1/1 [==============================] - 0s 146ms/step

array([[0.05673066]], dtype=float32)